@font-face {
  font-family: Sheikah;
  src: url("../src/assets/fonts/sheikah.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Twilight;
  src: url("../src/assets/fonts/tp.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Ancient;
  src: url("../src/assets/fonts/ancient.otf");
  font-weight: normal;
  font-style: normal;
}

.hero {
  display:flex;
  color: white;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  margin-bottom:75px;
}
.subtext {
  font-weight: 250;
  font-size: 1.5rem;
  display:flex;
  color: white;
  justify-content: center;
  text-align: center;
  margin-top:-101px;
  margin-left: 20px;
}
.hero .display-3 {
  padding-top: 50px;
  padding-left: 20px
}
.logo{
  width: 10px;
  height: 10px;
}
html, body {
    /* The image used */
    background-image: url("../src/assets/twilight1.jpg");
        /* Set rules to fill background */
   background-size: cover;
   height: 100%;
  }
.languageSelect{
  display: flex;
  margin-left: 225px;
  margin-right: 225px;
  align-items: row;
  color: white;
}
.text{
  margin-left: 225px;
  margin-right: 225px;
  color: white;
}
.twilight-text{
  font-family: Twilight;
  font-size: 30px;
}
.ancient-text{
  font-family: Ancient;
  font-size: 30px;
}
.sheikah-text{
  font-family: Sheikah;
  font-size: 30px;
}
.select{
  margin-left: 10px;
  margin-right: 10px;
}
#buttonCustom{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 280px;
}
.card {
  background-color: black;
  opacity:0.9;
  max-width:75rem;
  border-radius:20px;
}
.classDiv {
  display: flex;
   align-items: center;
   justify-content: center;
   overflow: auto;
}
.textClass {
  font-family: Ancient;
  font-size: 30px
}
.keypad {
  padding: 10px;
  cursor: move;
  z-index: 21;
  text-align: center;
  background-color: #000000;
  opacity:0.9;
}

.keypad > div {
  display: block;
}
